<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js Weather App</title>
        <link href="./style.css" rel="stylesheet">
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <div class="stuff-box gray shadowed">
                <h1>{{ title }}</h1>
            </div>
            <div class="stuff-box blue shadowed">
                <h1>Your Location</h1>
                <p v-if="lat === ''">{{ loading }}</p>
                <p v-else>
                <span>You are located in <span>
                <span v-if="city"> {{ city }}, </span>
                <span v-if="region"> {{ region }}, </span>
                <span v-if="country"> {{country}} </span>
                <span> at coordinates ({{ lat }}, {{ lon }})</span>
                </p>
            </div>
            <div id="current" class="stuff-box yellow shadowed">
                <h1> Current Conditions </h1>
                <p v-if="current">{{ current }}</p>
                <p v-else> {{ loading }} </p>
                <ul>
                    <li v-for="item in conditionsList">
                        {{ item.message }}
                    </li>
                </ul>
            </div>
            <div class="stuff-box cyan shadowed">
                <h1 v-if="forecastTitle"> {{ forecastTitle }} </h1>
                <h1 v-else> {{ loading }} </h1>
                <p> 
                <span class="redText"> {{ unlikely }} unlikely   </span>
                <span> {{ neutral }} neutral   </span>
                <span class="greenText"> {{ likely }} likely</span>
                </p>
                <div v-for="item in forecastList"
                     :class="item.likelyhood"
                     @click="onclick(item)"
                    >
                    <p> {{ item.header }} </p>
                    <ul>
                        <li> Temperature {{ item.temp }} F </li>
                        <li> High {{ item.high }} F </li>
                        <li> Low {{ item.low }} F </li>
                        <li> {{ item.sky }} </li>
                        <li> {{ item.humidity }}% Humidity </li>
                        <li> {{ item.pressure }} hPa Pressure </li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="./script.js"></script>
    </body>
</html>

